<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Тексты о чём-то
        </title>
        <style>
            body {
                background-color: rgb(84, 83, 143);
            }
            .Main-container {
                background-color: rgb(203, 207, 229);
                font-family: Verdana, sans-serif;
                padding: 20px 40px;
                margin: auto;
                max-width: 800px;
                max-height: 500px;
                align-items: center;
            }
        </style>
    </head>
    <body>
               
        <div class="Main_container"><h1>
            Сегодня речь пойдёт...
        </h1>
        </div>
        <h2>
            О средневековой Руси
            <h3>
                <p>
                        Жили-были на Руси гуси...
                </p>
            </h3>
        </h2>
        <h2>
            О дизайне интерьера
            <h3>
                <p>
                    Как бы ни жил человек, а красивое жилище - ценнее простой крыши над головой.
                </p>
                <p>
                    Для начала обозначаем стиль, который откликается в душе.
                </p>
            </h3>
        </h2>
        <div class="button_cont">
        <a href="/video"><button style="background-color: rgb(154, 199, 255); color: rgb(31, 31, 68);
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 24px;
                border-radius: (6px);
                box-shadow: rgb(31, 31, 68,0.2);; padding: 15px 30px; margin: 20px 40 px; align-items: center;">Кликни сюда, товарищ!</button></a>
        </div>
    </body>
</html>